
nav {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background: #eee;
    padding: 10px 20px;
    gap: 20px;
}


body {
    margin: 0;
    background: #f5f5f5;
}

h1 {
    font-size: 60px;
    text-align: center;
    margin-top: 100px;
}


h1 .blue { color: blue; }
h1 .yellow { color: yellow; }